//colores
$primary: #165739;
$secondary: #FF00FF;

//cambio de fuente
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
$font-family-base:"Playfair", serif;

//import hoja de bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';